<!doctype html>
<html lang="en" ng-app="mpm-dashboard">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard - Music Performance Manager </title>
	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  	<link rel="stylesheet" href="/css/dashboard.css">
    <script type="text/javascript" src="vendor/angular/angular.js"></script>
    <script type="text/javascript" src="vendor/n3-browser.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="vendor/uuid.js"></script>    
	<script type="text/javascript" src="js/mpm-rdf.js"></script>    
	<script type="text/javascript" src="js/mpm-agent.js"></script>    
	<script type="text/javascript" src="js/mpm-dashboard.js"></script>
	<script type="text/javascript" src="js/muzicodes-socket.js"></script>
	<script type="text/javascript" src="js/muzicodes-logging.js"></script>
  </head>
  <body ng-controller='DashboardController as dashboard'>

     	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">MPM Dashboard</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
			</div>
		</div>
	</nav>
	
	<div class="container">
		<label>Template
			<select id="template" name="template" ng-model="templateName">
				<option value=""></option>
				<option ng-repeat="template in templates" value="{{template.name}}">{{template.name}}</option>
			</select>
			<button ng-click="loadTemplate()">Load</button>
		</label>
		<span>{{template.name}}</span><br>
		<label>Variables</label>
		<label ng-repeat="(name,value) in variables">{{name}}:<input type="text" ng-model="value.value"></label>
	</div>

	<div class="container" ng-if="expected.length>0">
		<h2>Expected</h2>
		<table class="table">
			<thead>
				<tr>
					<td>Name</td>
					<td>Matched</td>
					<td>Feedback</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in expected" ng-if="!item.hide" ng-class="{expectedError: item.status=='fatal' || item.status=='error', expectedWarning: item.status=='warning', expectedSubitem: item.expect.requires && item.expect.requires.length>0}">
					<td>{{item.expect.name}}</td>
					<td>{{item.matched}} {{item.matched ? '('+item.matches.length+')' : ''}}</td>
					<td>
					<button ng-if="item.expect.button!==undefined" ng-click="setExpected(item, item.expect.button)">Set {{item.expect.button}}</button>
					<button ng-if="item.expect.post!==undefined" ng-disabled="!item.matched" ng-click="post(item, item.expect.post)">Post to {{item.expect.post}}</button>
					{{item.showValue}}{{!item.matched || item.tooMany ? item.expect.level+': ' : ''}}{{item.expect.feedback[item.matched ? (item.tooMany ? 'maxCardinality' : 'matched') : 'unmatched']}}</td>
					<td>
						<button ng-if="item.expect.kind=='Report' && item.matches.length>0" ng-click="showExpected(item)" class="button">More</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div id="selected" class="container">
		<!-- <h1>Dashboard: Music Performance Manager</h1>  -->
		<h2>Processes</h2>
		<table class="table">
			<thead>
				<tr>
					<td>Title</td>
					<td>Type</td>
					<td>IPs</td>
					<td>Last report</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(id,report) in processes">
					<td>{{report.title}}</td>
					<td>{{report.processType}}</td>
					<td>{{report.info.ips}}</td>
					<td>{{report.datetime | date}}</td>
					<td>
						<button ng-click="showMore('Process',id,report)" class="button">More</button>
					</td>
				</tr>
			</tbody>
		</table>
		<h2>Environments</h2>
		<table class="table">
			<thead>
				<tr>
					<td>Title</td>
					<td>Type</td>
					<td>IPs</td>
					<td>Last report</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(id,report) in environments">
					<td>{{report.title}}</td>
					<td>{{report.environmentType}}</td>
					<td>{{report.info.ips}}</td>
					<td>{{report.datetime | date}}</td>
					<td>
						<button ng-click="showMore('Environment',id,report)" class="button">More</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container" ng-if="selected!==null">
		<h2>{{selected['@type']}}: {{selected.title}}</h2>
		<panel><pre>{{selected | json: 4}}</pre></panel>
		<div>
			<label>Test Point:</label>
			<select ng-model="selectedTestPoint.id">
				<option value=""></option>
				<option ng-repeat="(name,point) in selected.testPoints" value="{{name}}">{{ point.name ? point.name : name }}</option>
			</select>
			<input type="text" ng-model="selectedTestPoint.value">
			<button class="button" ng-click="setTestPointValue()">Set</button>
		</div>
		<p><button ng-click="clearSelected()">OK</button></p>
	</div>
</body>
</html>
